In [10]:
import numpy as np 
import pandas as pd

## Data Exploration

In [11]:
data = pd.read_csv(r"C:\Users\Somya Shekhar\Desktop\text_summarizer_project\data\BBC News Train.csv")
df = pd.DataFrame(data)
df.head()

   ArticleId                                               Text  Category
0       1833  worldcom ex-boss launches defence lawyers defe...  business
1        154  german business confidence slides german busin...  business
2       1101  bbc poll indicates economic gloom citizens in ...  business
3       1976  lifestyle  governs mobile choice  faster  bett...      tech
4        917  enron bosses in $168m payout eighteen former e...  business

## Text Preprocessing

In [ ]:
df['Text'] =  [t.replace('\n', ' ').strip() for t in df['Text']] ## replace, strip whitespaces
df['Text'].head()

0    worldcom ex-boss launches defence lawyers defe...
1    german business confidence slides german busin...
2    bbc poll indicates economic gloom citizens in ...
3    lifestyle  governs mobile choice  faster  bett...
4    enron bosses in $168m payout eighteen former e...
Name: Text, dtype: object

## CALL SUMMARIZER

In [35]:
from model.summarizer import generate_summary
#BATCH PROCESSING:
sample_df = df[['Text']] #Double brackets to keep as DataFrame
sample_df = sample_df.head(5).copy()

sample_df['summary'] = sample_df['Text'].apply(generate_summary)

In [36]:
sample_df[['Text', 'summary']]

,Text,summary
0,worldcom ex-boss launches defence lawyers defe...,Worldcom ex-head of internal accounting cynthi...
1,german business confidence slides german busin...,German business confidence fell in february kn...
2,bbc poll indicates economic gloom citizens in ...,A bbc poll indicates economic gloom. A majorit...
3,lifestyle governs mobile choice faster bett...,Phone firms keen to get more out of their cust...
4,enron bosses in $168m payout eighteen former e...,18 former Enron directors have agreed a $168m ...